In [14]:
import itertools

In [27]:
Months = {"January":[31],"February":[28,29],"March":[31],"April":[30],"May":[31],"June":[30],"July":[31],"August":[31],"September":[30],"October":[31],"November":[30],"December":[31]}

In [2]:
Leap_years = [i for i in range(1904,2001,4)]

In [30]:
Current_Sun = 6
Num_D       = 0
for i in range(1901,2001):
    for j in itertools.cycle(Months):
        if j == "February" and i in Leap_years:
            Current_Sun = ((Months[j][1]-Current_Sun)//7)*7 + Current_Sun + 7 - Months[j][1] 
        else:
            Current_Sun = ((Months[j][0]-Current_Sun)//7)*7 + Current_Sun + 7 - Months[j][0]
        if Current_Sun == 1:
            Num_D += 1
            print(j + " in " + str(i))
        
        if j == "December":
            break               

    
print(Num_D)

August in 1901
November in 1901
May in 1902
January in 1903
February in 1903
October in 1903
April in 1904
December in 1904
September in 1905
March in 1906
June in 1906
August in 1907
November in 1907
February in 1908
October in 1908
July in 1909
April in 1910
December in 1910
September in 1911
August in 1912
November in 1912
May in 1913
January in 1914
February in 1914
October in 1914
July in 1915
September in 1916
March in 1917
June in 1917
August in 1918
November in 1918
May in 1919
January in 1920
July in 1920
April in 1921
December in 1921
September in 1922
March in 1923
June in 1923
May in 1924
January in 1925
February in 1925
October in 1925
July in 1926
April in 1927
December in 1927
March in 1928
June in 1928
August in 1929
November in 1929
May in 1930
January in 1931
February in 1931
October in 1931
April in 1932
December in 1932
September in 1933
March in 1934
June in 1934
August in 1935
November in 1935
February in 1936
October in 1936
July in 1937
April in 1938
December in 1938
September in 1939
August in 1940
November in 1940
May in 1941
January in 1942
February in 1942
October in 1942
July in 1943
September in 1944
March in 1945
June in 1945
August in 1946
November in 1946
May in 1947
January in 1948
July in 1948
April in 1949
December in 1949
September in 1950
March in 1951
June in 1951
May in 1952
January in 1953
February in 1953
October in 1953
July in 1954
April in 1955
December in 1955
March in 1956
June in 1956
August in 1957
November in 1957
May in 1958
January in 1959
February in 1959
October in 1959
April in 1960
December in 1960
September in 1961
March in 1962
June in 1962
August in 1963
November in 1963
February in 1964
October in 1964
July in 1965
April in 1966
December in 1966
September in 1967
August in 1968
November in 1968
May in 1969
January in 1970
February in 1970
October in 1970
July in 1971
September in 1972
March in 1973
June in 1973
August in 1974
November in 1974
May in 1975
January in 1976
July in 1976
April in 1977
December in 1977
September in 1978
March in 1979
June in 1979
May in 1980
January in 1981
February in 1981
October in 1981
July in 1982
April in 1983
December in 1983
March in 1984
June in 1984
August in 1985
November in 1985
May in 1986
January in 1987
February in 1987
October in 1987
April in 1988
December in 1988
September in 1989
March in 1990
June in 1990
August in 1991
November in 1991
February in 1992
October in 1992
July in 1993
April in 1994
December in 1994
September in 1995
August in 1996
November in 1996
May in 1997
January in 1998
February in 1998
October in 1998
July in 1999
September in 2000
171

In [15]:
counter = 1
for i in itertools.cycle(Months):
    print(Months[i])
    counter += 1
    if counter == 6:
        break

31
(28, 29)
31
30
31